<!DOCTYPE html>
<html>
<head>
  <title>Calculator</title>
</head>

<body ng-app="calculatorApp" style="font-family:'Courier New'">
  <div ng-controller="mainCtrl" align="center">
    {{first +" "+ operator + " "+ second}}
    <br>
    <div ng-if="showresult">{{"= " + getResult(operator)}}</div>
    <br ng-if="!showresult">
    <input type="number" ng-show="inputtoggle && !showresult" ng-model="first" placeholder="input first number" autofocus>
    <input type="number" ng-show="!inputtoggle && !showresult" ng-model="second" placeholder="input second number">
    <br>
    <button ng-repeat="op in ops" ng-click="clickOp(op)">{{op}}</button>
    <button ng-click="showresult=true">=</button>
    <button ng-click="first=''; second=''; operator = '';
      inputtoggle = true; showresult = false">C</button>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="scripts/app.js" type="text/javascript"></script>
</body>
</html>
